.blog_desc{
    min-height: 70px;
   max-height: 70px;
   overflow: hidden;
}
.blog_desc{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;

}


.blog_title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
}




label.label Input[type="file"] {
    position:absolute;
    top: -1000px;
    width: 100px;
  }
  .label {
    cursor: pointer;
    /* border: 1px solid #cccccc; */
    border-radius: 5px;
    padding: 9px 19px;
    background: #EDF2F7;
    display: inline-block;
    color: #718096;
    /* width: 100%; */
  }
  